{erl_opts, [{parse_transform, lager_transform}]}.
{lib_dirs, ["../../deps", "../../core"]}.
{deps_dir, "../../deps"}.
{deps, [
	{lager, "1.2.*", {git, "https://github.com/basho/lager.git", {tag, "1.2.0"}}},
	{meck, "0.7.2", {git, "http://github.com/eproxus/meck.git", {tag, "0.7.2"}}},
	{cowboy, "0.6.1", {git, "https://github.com/extend/cowboy.git", {tag, "0.6.1"}}},
	{mimetypes, ".*", {git, "https://github.com/spawngrid/mimetypes.git", {branch, "master"}}},
	{ejrpc2, "0.0.1", {git, "http://github.com/jvliwanag/ejrpc2.git", {branch, "master"}}},
	openacd
]}.

{cover_enabled, false}.
{eunit_opts, [verbose]}.
