{lib_dirs, ["../../deps", "../../apps"]}.
{deps_dir, ["../../deps"]}.
{deps, [
	{meck, "0.7.2", {git, "git://github.com/eproxus/meck.git", "master"}},
	{cowboy, "0.6.1", {git, "https://github.com/extend/cowboy.git", {tag, "0.6.1"}}},
	{mimetypes, ".*", {git, "https://github.com/spawngrid/mimetypes.git", {branch, "master"}}}
	]}.

{cover_enabled, true}.
{eunit_opts, [verbose]}.
